@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Konrad Tomasz Ziarko<br />
    github.com/Konrad-Ziarko<br />
    <strong>Email:</strong>   <a href="mailto:konrad19931118@gmail.com">konrad19931118@gmail.com</a>
</address>