
@{
    ViewBag.Title = "Games";
}

<html>
<head>
    
</head>
<body>
    <br/>
    <li>
        @Html.ActionLink("SmartRockets", "SmartRockets", "Game", null, null)
        @*@Html.ActionLink("SmartRockets", "SmartRockets", "Game", new { @class = "elements" }, null)*@
    </li>
    <li>
        @Html.ActionLink("Matrix", "Matrix", "Game", null, null)
    </li>
    <li>
        @Html.ActionLink("Repel", "Repel", "Game", null, null)
    </li>
</body>
</html>

