
@{
    ViewBag.Title = "Matrix";
}

<html>
<head>
    <script src="~/Scripts/p5.js" language="javascript" type="text/javascript"></script>
    <script src="~/Scripts/p5.dom.js" language="javascript" type="text/javascript"></script>
</head>
<body>
        <script src="~/Scripts/Custome/matrix.js" language="javascript" type="text/javascript"></script>
    
</body>
</html>

