
@{
    ViewBag.Title = "Repel";
}

<html>
<head>
    <script src="~/Scripts/p5.js" language="javascript" type="text/javascript"></script>
    <script src="~/Scripts/p5.dom.js" language="javascript" type="text/javascript"></script>
</head>
<body>
    <input id="newWordTextBox" type="text" value="Konrad" style="{margin: 5 5 5 5; }" onkeydown = "if (event.keyCode == 13) changeWord();" /> 
    <input id="newWordButton" type="button" value="Nowy tekst" onclick="changeWord();" />
    <script src="~/Scripts/Custome/repel.js" language="javascript" type="text/javascript"></script>
</body>
</html>

